@mixin outlined-text($color, $stroke, $width) {
  color: $color;
  text-shadow: text-outline($width, $stroke);
}

@function text-outline($width, $color) {
  $text-shadow: '';
  @for $i from 1 through $width {
    @for $x from -$i through $i {
      @for $y from -$i through $i {
        $shadow: $x + 'px ' + $y + 'px 0 ' + $color;
        $text-shadow: $text-shadow + $shadow + ',';
      }
    }
  }
  @return str_slice(unquote($text-shadow), 0, str_length($text-shadow)-1);
}
