$color-mod: 10;

$color-primary: #ff0000;
$color-primary-plus: lighten($color-primary, $color-mod);
$color-primary-minus: darken($color-primary, $color-mod);

$color-secondary: #3b4cca;
$color-secondary-plus: lighten($color-secondary, $color-mod);
$color-secondary-minus: darken($color-secondary, $color-mod);

$color-tertiary: #ffde00;
$color-tertiary-plus: lighten($color-tertiary, $color-mod);
$color-tertiary-minus: darken($color-tertiary, $color-mod);

$color-accent: #b3a125;
$color-accent-plus: lighten($color-accent, $color-mod);
$color-accent-minus: darken($color-accent, $color-mod);

$color-white: #ffffff;

$font-family: 'Roboto', sans-serif;
