@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'vars';

body,
html {
  font-family: $font-family;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
